<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django File Uploads</title>
</head>
<h2>Определение TF-IDF</h2>

<body>
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" multiple>
        <p><input type="submit" value="Загрузить" /></p>
    </form>
    <br>
    <h2>TF</h2>{{ tf | safe }}<br><br>
    <h2>IDF</h2>{{ idf | safe }}<br><br>
    <h2>TF * IDF</h2>{{ tf_idf | safe }}<br>

</body>

</html>